body {
  background: linear-gradient(to right, #2e026d, #5e60ce);
}

@font-face {
  font-family: 'Vergilia';
  src: url('./Assets/Fonts/Vergilia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BungaZivilia';
  src: url('./Assets/Fonts/BungaZivilia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sinosans Regular';
  src: url('./Assets/Fonts/SinosansRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.nav-margin {
  margin-top: 100px;
}

.font-1 {
  font-family: 'Sinosans Regular', sans-serif;
}

.font-2 {
  font-family: 'Vergilia', sans-serif;
}

.font-3 {
  font-size: 'BungaZivilia', sans-serif;
}

.font-4 {
  font-family: 'Courier New', Courier, monospace;
}



.bg-1 {
  background-color: rgb(0, 255, 128);
}

.bg-2 {
  background-color: rgb(218, 255, 236);
}

